<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>전통주</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <style>
            .wrap {
                width: 90%;
                max-width: 750px;
                margin: 0 auto;
            }


            .alchol_list {
                overflow: scroll;
                width: 100%;
                height: calc(40vh - 60px);
                position: relative;
            }

            #map {
                width: 100%;
                height: 50vh;
                margin: 20px auto 20px auto;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <section>
                <div id="map"></div>

                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=521af954e3b4489c5b4a637b66de2188&libraries=services"></script>
                <script>

                    $(document).ready(function () {
                        get_alchols();

                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                level: 3 // 지도의 확대 레벨
                            };

                        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                        var mapTypeControl = new kakao.maps.MapTypeControl();

                        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                        var zoomControl = new kakao.maps.ZoomControl();
                        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                        var markers = [
                            {
                                position: new kakao.maps.LatLng(33.450701, 126.570667)
                            },
                            {
                                position: new kakao.maps.LatLng(33.450001, 126.570467),
                                text: '텍스트를 표시할 수 있어요!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
                            }
                        ];

                        var staticMapContainer = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
                            staticMapOption = {
                                center: new kakao.maps.LatLng(33.450701, 126.570667), // 이미지 지도의 중심좌표
                                level: 3, // 이미지 지도의 확대 레벨
                                marker: markers // 이미지 지도에 표시할 마커
                            };


                        function make_card(i, alchol) {
                            let temp_html = `<div class="card" id="card-${i}">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="alchol-title">${alchol['품명']}</a></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">${alchol['품목']}</h6>
                                        <p class="card-text">${alchol['주소']}</p>
                                    </div>
                                </div>`;
                            $('#alchol-box').append(temp_html);



                        }

                        function get_alchols() {
                            $('#alchol-box').empty();
                            $.ajax({
                                type: "GET",
                                url: "https://api.odcloud.kr/api/15042291/v1/uddi:f831fb62-a6ca-483b-94f8-dfc2243fa3ef?page=1&perPage=135&serviceKey=Gt8j%2BnZ9SiGh7agtjfQ7HXTDG9MQf7CXibre%2BC8J7Sk5vb9fi6rR7Z6RDZMxpNp0w%2BmDWgeGf%2FCy5At3GNZQ1g%3D%3D",
                                data: {},
                                success: function (response) {
                                    let alchol_list = response["data"];
                                    for (let i = 0; i < alchol_list.length; i++) {
                                        let alchol = alchol_list[i];
                                        console.log(alchol);
                                        make_card(i, alchol);

                                    }
                                }
                            });


                        }
                    })

                    var geocoder = new kakao.maps.services.Geocoder();

                    geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function (result, status) {


                        if (status === kakao.maps.services.Status.OK) {

                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);


                            var marker = new kakao.maps.Marker({
                                map: map,
                                position: coords
                            });


                            var infowindow = new kakao.maps.InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
                            });
                            infowindow.open(map, marker);

                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            map.setCenter(coords);
                        }
                    });
                </script>
            </section>


            <div class="alchol_list" id="alchol-box">
                <div class="card" id="card-0">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="alchol-title">혼가츠</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">일식</h6>
                        <p class="card-text">서울 마포구 와우산로21길 36-6 (서교동)</p>
                        <p class="card-text" style="color:blue;">생방송 투데이</p>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>